/* ==============
Global Styles 
============== */

 * {
     margin: 0px;
     padding: 0px;
     --spacing: 0px;
     --min-card-width: 25gitpx;
 }


/* ==============
Components
============== */

#parentDiv {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#container {
    width: 500px;
    height: 500px;
    background-color: cornflowerblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    
}
    

.blue {
    width: 6.25%;
    height:6.25%;
    border: 1px dashed red;
   

.pink {
    width: 6.25%;
    height:6.25%;
    background-color: yellow;

}

