/* ==============
Global Styles 
============== */

 * {
     margin: 0px;
     padding: 0px;
 }


/* ==============
Components
============== */

#container {
    
    width: 960px;
    height: 960px;
    background-color: cornflowerblue;
    display: grid;

}

.blue {
    width:5px;
    height:5px;
    background-color: crimson;
}